$icomoon-font-path: "/static/fonts" !default;

$cdicon-gwc: "\e908";
$cdicon-add: "\e909";
$cdicon-dec: "\e90a";
$cdicon-hot: "\e90b";
$cdicon-empty: "\e90c";
$cdicon-No: "\e90d";
$cdicon-arrow: "\e900";
$cdicon-card: "\e901";
$cdicon-detail: "\e902";
$cdicon-djq: "\e903";
$cdicon-fail: "\e904";
$cdicon-sq: "\e905";
$cdicon-succ: "\e906";
$cdicon-vip: "\e907";

